<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Lita de tarefas defeituosa</h1>
        <ul>
            {Tarefas}
            <li>pq ta dando erro eu n sei aaaa</li>
            {python é confuso meu deus}
        </ul>
        <form action="/add" method="post">
            <input type="text" name="task" placeholder="Adicionar tarefa">
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>
