<!DOCTYPE html>
<html>
<head>
    <title> ONE PIECE IS REAL</title>
</head>
<body>
    <h1> Veja one piece </h1>
    <p>One Piece é um mangá japonês escrito pelo grandissíssimo Eiichiro Oda. Se tornou oficial na revista Shueisha's Weekly Shōnen Jump desde 22/07/1997. Famoso (G)old.</p>
    <p>é impossivel resumir isso mas o basico do basico é um garoto chamado Monkey D. Luffy que quer se tornar o rei dos piratas. Dito isso, 
        tem 1.000+ capitulos de mangá e 1.000+ episódios de anime 
        e não tem uma prévia concreta para terminar, a história é muito completa 
        e tem diversos mistérios que não temos ideia do que seja até hoje. Vale a pena</p>
</body>
</html>
